summary {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

summary::before {
    content: "👉";
}

details[open] > summary::before {
    content: "👀";
}

.exec, .code, .result {
    padding: 10px;
    border-radius: 10px;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Lucida Console","Courier New",Courier,monospace,monospace;
}

.exec {
    background-color: #3490de55;
}

.code {
    border: 1px solid #cccc;
}

.result {
    background-color: #ccc4;
}

td {
    padding: 5px 20px !important;
    border: 1px solid white !important;
}